<!DOCTYPE HTML>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<div class="row">
  <div class="col-lg-6">

    <form [formGroup]="UForm" (submit)="submit(UForm)" style="background-color: black;">
      <div class="form-group">
      <label for="Name"> Name</label>
      <input type="text" name="username" formControlName="Name" />
      <span *ngIf="!UForm.get('Name').valid && UForm.get('Name').dirty">Name should in length between 8 - 25
        characters</span>
      <span *ngIf="UForm.get('Name').touched && !UForm.get('Name').valid">This field is required</span>
    </div>
      
    <div class="form-group">
      <label for="Mail">Mail-id</label>
      <input type="text" name="Mail" formControlName="Mail" />
      <span *ngIf="!UForm.get('Name').valid && UForm.get('Name').touched">Please Provide a proper email id</span>
      </div>
      <div class="form-group">
      <label for="age">Age</label>
      <input type="number" name="age" formControlName="Age" />
      </div>
      <div class="form-group">
      <label for="Gender">Gender:</label>
      
      <div>
        <input id="male" type="radio" value="male" name="Gender" formControlName="Gender">
        <label for="male">Male</label>
      </div>
      <br>
      <div>
        <input id="female" type="radio" value="female" name="Gender" formControlName="Gender">
        <label for="female">Female</label>
      </div>
    </div>
    <div class="form-group">
      <label for="region">Country</label>
      <select name="region" id="" formControlName="region">
        <option value="IND">India</option>
        <option valuer="USA">America</option>
        <option value="UK">UK</option>
        <span *ngIf="!UForm.get('region').touched">Please select your country</span>
      </select>
    </div>
    <div class="form-group">
      <label for="Marital_Status">Marital Status</label>
      <div>
        <input id="un-married" type="radio" value="un-married" name="Marital_Status" formControlName="Marital_Status">
        <label for="un-married">un married</label>
      </div>
      <br>
      <div>
        <input id="Married" type="radio" value="Married" name="Marital_Status" formControlName="Marital Status">
        <label for="Married">Married</label>
      </div>
        </div>
        {{UForm.valid}}
        <input type="submit" class="btn btn-primary" value="Submit" />
      
    </form>
  </div>

  <div class="col-lg-6">
    <table class="table table-striped" style="background-color: chocolate;">
      <thead>
        <tr>
          <th scope="col">NAME</th>
          <th scope="col">MAIL</th>
          <th scope="col">AGE</th>
          <th scope="col">GENDER</th>
          <th scope="col">Marital_Status</th>
          <th scope="col">REGION</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of user;let i=index">
          <td>{{u.Name}}</td>
          <td>{{u.Mail}}</td>
          <td>{{u.age}}</td>
          <td>{{u.Gender}}</td>
          <td>{{u.Marital_Status}}</td>
          <td>{{u.region}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<router-outlet></router-outlet>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->